/** Dark Orange **/
/** Mid Orange **/
/** Light Orange **/
/** Light Gray */
/*#DCDCDB;*/
/** Middle Gray*/
/** Dark Gray **/
/** Mid Gray **/
/** Light Gray **/
/** Blue **/
/** Red **/
/** Green **/
/** White */
.font-normal {
  font-family: GothamBook, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
@media print {
  .font-normal {
    font-family: Arial, sans-serif;
  }
}
.font-bold {
  font-family: GothamBold, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
@media print {
  .font-bold {
    font-family: Arial, sans-serif;
  }
}
.font-light {
  font-family: GothamLight, Arial, sans-serif;
  font-style: normal;
  font-weight: lighter;
  line-height: 1;
}
@media print {
  .font-light {
    font-family: Arial, sans-serif;
  }
}
html {
  font-size: 10px;
}
@media (min-width: 768px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 10px;
  }
}
body {
  font-family: GothamBook, Arial, sans-serif;
  font-style: normal;
  line-height: 1;
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 16px;
  color: #595858;
}
@media print {
  body {
    font-family: Arial, sans-serif;
  }
}
h1 {
  font-family: GothamLight, Arial, sans-serif;
  font-style: normal;
  font-weight: lighter;
  line-height: 1;
  font-size: 30px;
  font-size: 3rem;
  /*color: @midOrange;*/
  margin-top: 0;
}
@media print {
  h1 {
    font-family: Arial, sans-serif;
  }
}
h2 {
  font-family: GothamBook, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 20px;
  font-size: 2rem;
  /*color: @midOrange;*/
  margin-top: 0;
}
@media print {
  h2 {
    font-family: Arial, sans-serif;
  }
}
h3 {
  font-family: GothamLight, Arial, sans-serif;
  font-style: normal;
  font-weight: lighter;
  line-height: 1;
  font-size: 14px;
  font-size: 1.4rem;
  /*color: @midOrange;*/
}
@media print {
  h3 {
    font-family: Arial, sans-serif;
  }
}
h4 {
  font-family: GothamBold, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.2;
  color: #507c9b;
}
@media print {
  h4 {
    font-family: Arial, sans-serif;
  }
}
h5 {
  font-family: GothamBook, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: #ec7c23;
  font-size: 1.1rem;
}
@media print {
  h5 {
    font-family: Arial, sans-serif;
  }
}
ul.sfShopByFilterList li a.sfFilterLnk {
  font-family: GothamBook, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 11px;
  font-size: 1.1rem;
}
@media print {
  ul.sfShopByFilterList li a.sfFilterLnk {
    font-family: Arial, sans-serif;
  }
}
/* ---------------------------------------------------General Tags */
img {
  border: 0;
  /*width: 100%;
    height: auto;*/
}
ol,
ul {
  padding-left: 15px;
}
q:before,
q:after {
  content: '';
}
/* --------------------------------------------------- Links*/
a,
a:hover,
a:focus,
a:visited {
  text-decoration: underline;
  background: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  outline: 0;
}
a,
a:visited {
  color: #e66026;
}
a:hover,
a:focus {
  color: #ee7c22;
}
a.button,
a.primary-button,
a.sffilterClearLnk,
input[type=submit],
input[type=button],
.sfsearchSubmit,
button.primary-button {
  margin: 0;
  padding: 10px 15px;
  display: inline-block;
  color: #fff;
  font-family: GothamBook, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  background: #de5626;
  border: none;
  box-shadow: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}
@media print {
  a.button,
  a.primary-button,
  a.sffilterClearLnk,
  input[type=submit],
  input[type=button],
  .sfsearchSubmit,
  button.primary-button {
    font-family: Arial, sans-serif;
  }
}
a.button:hover,
a.primary-button:hover,
a.sffilterClearLnk:hover,
input[type=submit]:hover,
input[type=button]:hover,
button.primary-button:hover {
  color: #fff;
  text-decoration: none;
  background: #d34628;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: none;
}
a.primary-button.disable-button {
  color: #fff;
  text-decoration: none;
  background: #eeaa92;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  cursor: default;
}
/* Collapse */
a.accordion-toggle {
  display: block;
  text-decoration: none;
  cursor: pointer;
}
a.accordion-toggle span.more,
a.accordion-toggle span.less {
  margin: 0;
  padding: 0;
  display: none;
  text-align: center;
  min-width: 40px;
  min-height: 18px;
  background-image: url('../images/WM_up-down-arrow.png');
  background-position: center bottom;
  background-size: 26px auto;
  background-repeat: no-repeat;
}
a.accordion-toggle span.less {
  display: inline-block;
  background-position: center 6px;
}
a.accordion-toggle.collapsed span.more {
  display: inline-block;
}
a.accordion-toggle.collapsed span.less {
  display: none;
}
/* ---------------------------------------------------Forms */
label,
label.sfGroupTitle {
  font-family: GothamMedium, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1;
}
select {
  display: block;
  margin: 0;
  padding: 5px;
  width: 60%;
  height: 32px;
  font-family: GothamBook, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 25px;
  vertical-align: middle;
  color: #595858;
  background: #f6f6f6;
  border: solid 1px #d2d1d1;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  box-shadow: none;
  outline: 0;
  transform: none;
}
@media print {
  select {
    font-family: Arial, sans-serif;
  }
}
select option {
  padding: 5px 10px;
  border: none;
  font-family: GothamBook, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 25px;
  color: #595858;
  outline: 0;
}
@media print {
  select option {
    font-family: Arial, sans-serif;
  }
}
select:focus,
.sfDropdownList.sfFieldWrp select:focus {
  box-shadow: none;
  outline: 0;
}
.contact-us-form select {
  width: 100%;
}
label {
  font-family: GothamBook, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 11px;
  font-size: 1.1rem;
  color: #595858;
}
@media print {
  label {
    font-family: Arial, sans-serif;
  }
}
input::-moz-focus-inner {
  border: 0;
}
input[type=text],
textarea {
  padding: 8px 10px;
  width: 100%;
  background: #f6f6f6;
  border: solid 1px #d2d1d1;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  resize: none;
}
.sfError {
  padding-top: 5px;
  font-family: GothamBold, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: red;
}
@media print {
  .sfError {
    font-family: Arial, sans-serif;
  }
}
/* --------------------------------------------------- Boxes */
.gray-box {
  background: #eeeeee;
}
/* --------------------------------------------------- Tables */
.table-p10 table,
.table-p15 table,
.table-p20 table,
.table-p30 table {
  margin: 0;
  padding: 0;
  width: 100%;
}
.table-p10 table td,
.table-p15 table td,
.table-p20 table td,
.table-p30 table td {
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
}
.table-p10 table td h1,
.table-p15 table td h1,
.table-p20 table td h1,
.table-p30 table td h1,
.table-p10 table td h2,
.table-p15 table td h2,
.table-p20 table td h2,
.table-p30 table td h2 {
  margin: 0;
  padding: 0 0 20px 0;
}
.table-p10 table td h3,
.table-p15 table td h3,
.table-p20 table td h3,
.table-p30 table td h3,
.table-p10 table td h4,
.table-p15 table td h4,
.table-p20 table td h4,
.table-p30 table td h4,
.table-p10 table td p,
.table-p15 table td p,
.table-p20 table td p,
.table-p30 table td p,
.table-p10 table td ul,
.table-p15 table td ul,
.table-p20 table td ul,
.table-p30 table td ul {
  margin: 0;
  padding: 0 0 15px 0;
}
.table-p10 table td ul li,
.table-p15 table td ul li,
.table-p20 table td ul li,
.table-p30 table td ul li {
  list-style: none;
  margin: 0;
  padding: 3px 0;
}
.table-p10 table img,
.table-p15 table img,
.table-p20 table img,
.table-p30 table img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}
.table-p10 table {
  margin-bottom: 25px !important;
  border-top: 1px solid #eeeeee;
}
.table-p10 table tr td {
  padding-top: 20px !important;
}
.table-p10 table tr td h2 {
  padding: 0 !important;
}
.table-p10 table td:first-child {
  padding-right: 10px !important;
  width: 50px !important;
}
.table-p10 table:first-child {
  border-top: none !important;
}
.table-p10 table:first-child tr:first-child td {
  padding-top: 0 !important;
}
.table-p15 table tr td:first-child {
  padding: 0 15px 0 0;
  width: 16%;
}
@media (min-width: 768px) {
  .table-p15 table tr td:first-child {
    width: 16%;
  }
}
@media (min-width: 992px) {
  .table-p15 table tr td:first-child {
    width: 16%;
  }
}
@media (min-width: 1200px) {
  .table-p15 table tr td:first-child {
    width: 16%;
  }
}
.table-p20 table tr td:first-child {
  padding: 0 20px 0 0;
}
.table-p30 table tr td:first-child {
  padding: 0 30px 0 0;
  width: 28%;
}
@media (min-width: 768px) {
  .table-p30 table tr td:first-child {
    width: 36%;
  }
}
@media (min-width: 992px) {
  .table-p30 table tr td:first-child {
    width: 28%;
  }
}
@media (min-width: 1200px) {
  .table-p30 table tr td:first-child {
    width: 24%;
  }
}
/* Extra small devices (phones, up to 480px) */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  select,
  select.form-control {
    width: 100%;
  }
}
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
.ng-cloak {
  display: none !important;
}
/*# sourceMappingURL=UIStyle.css.map */