
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class=" body-content" style="margin-top: 100px;" ng-app="app" ng-controller="base">
    <div id="veil" ng-show="isLoading"></div>
    <div id="feedLoading" ng-show="isLoading">Loading...</div>

    <ng-view></ng-view>
    @*<div loading-indicator></div>*@

</div>


